.edit_profile_stylist {
    position: relative;
    padding-top: 50px;
    .section__title {
      text-align: center;
      padding: 20px 0px;
      width: 80%;
      margin: 0 auto;
      h2 {
        font-size: 30px;
        margin: 0;
        font-family: "Playfair Display";
        font-weight: 500;
      }
      p {
        font-size: 15px;
        margin: 0;
        font-family: "Poppins";
        color: #a2a2a2;
      }
    }
    .edit_wrap {
      .login_form {
        width: 80%;
        margin: 0 auto;
        background: #fff;
        padding: 15px 50px 20px;
        .profile_img_wrap {
          width: 100px;
          height: 100px;
          margin: 20px auto;
          position: relative;
          .profile_img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .fa-camera {
            font-size: 20px;
            background: #d8bd93;
            border-radius: 50%;
            color: #443026;
            padding: 7px;
            position: absolute;
            bottom: 0;
            right: 0;
            cursor: pointer;
          }
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          li {
            width: 50%;
            .time-group{
              margin-top: 15px;
            }
          }
          .ant-switch {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
        .form-group {
          clear: both;
          width: 300px;
          margin: 0 auto;
          position: relative;
          .label_form {
            font-family: "Poppins";
            padding: 0 22px;
            margin: 0;
            width: 100%;
            font-size: 15px;
            .small,
            small {
              font-size: 80%;
            }
          }
          .input {
            font-family: "Poppins";
            border-radius: 20px;
            box-shadow: 0 4px 10px 0 #bbb;
            padding: 22px;
            transition: all 0.4s ease-in-out;
            margin-bottom: 30px;
            max-height: 42px;
            font-size: 15px;
            &:focus {
              border-color: #ced4da;
              outline: 0;
              box-shadow: none;
              transition: all 0.4s ease-in-out;
            }
          }
          .error_message{
            position: absolute;
            bottom: -20px;
            color: #f00;
            font-size: 12px;
            left: 0;
            padding: 0 0 0 22px;
          }
          .choose_error{
            bottom: 0px;
          }
          .select_type{
            ul{
              display: flex;
              flex-wrap: nowrap;
              overflow-x: auto;
              padding: 8px;
              li{
                width: auto;
                display: inline-block;
              }
            }
            .ant-select-selection--multiple .ant-select-arrow{
              top: 24px;
            }
          }
          .ant-select-allow-clear .ant-select-selection--multiple .ant-select-selection__rendered, .ant-select-show-arrow .ant-select-selection--multiple .ant-select-selection__rendered{
            height: 46px;
          }
        }
        .select_wrap {
          display: flex;
          //justify-content: space-evenly;
          align-items: baseline;
          margin-bottom: 20px;
          .ant-select-show-arrow{
            margin-right: 15px;
          }
          .select_hours_maridian{
            width: 80px;
          }
        }
        .select_hours {
          width: 60px;
          font-family: "Poppins";
          font-size: 15px;
          border-radius: 20px;
          box-shadow: 0 4px 10px 0 #bbb;
          padding: 5px 0;
          transition: all 0.4s ease-in-out;
          &:focus {
            border-color: #ced4da;
            outline: 0;
            box-shadow: none;
            transition: all 0.4s ease-in-out;
          }
          .ant-select-selection {
            border: 0;
            background: transparent;
            &:active,
            &:focus {
              box-shadow: none;
            }
          }
        }
        .select_type {
          width: 300px;
          font-family: "Poppins";
          font-size: 15px;
          border-radius: 20px;
          box-shadow: 0 4px 10px 0 #bbb;
          border: 1px solid #ced4da;
          padding: 0;
          transition: all 0.4s ease-in-out;
          &:focus {
            border-color: #ced4da;
            outline: 0;
            box-shadow: none;
            transition: all 0.4s ease-in-out;
          }
          .ant-select-selection {
            border: 0;
            background: transparent;
            &:active,
            &:focus {
              box-shadow: none;
            }
          }
        }
        .ant-select-selection {
          box-shadow: none;
        }
        .select_price {
          width: 300px;
          font-family: "Poppins";
          border-radius: 20px;
          box-shadow: 0 4px 10px 0 #bbb;
          font-size: 15px;
          padding: 10px 0;
          transition: all 0.4s ease-in-out;
          height: 49px;
          &:focus {
            border-color: #ced4da;
            outline: 0;
            box-shadow: none;
            transition: all 0.4s ease-in-out;
          }
          .ant-select-selection {
            border: 0;
            background: transparent;
            &:active,
            &:focus {
              box-shadow: none;
            }
          }
        }
        .btn_wrap {
          text-align: center;
          margin-top: 15px;
        }
        .btn_edit {
          border-radius: 50px;
          padding: 10px 20px 13px;
          width: 300px;
          margin-top: 30px;
          background: #d8bd93 !important;
          color: #fff !important;
          font-size: 20px;
          line-height: 19px;
          font-family: "Playfair Display";
          transition: all 0.5s ease-in-out;
          &:hover {
            background: #5c452d !important;
            border-color: #5c452d;
            transition: all 0.5s ease-in-out;
          }
        }
        .btn_add{
          border-radius: 50px;
          padding: 10px 20px 13px;
          width: 300px;
          background: #d8bd93 !important;
          color: #fff !important;
          font-size: 20px;
          line-height: 19px;
          font-family: "Playfair Display";
          transition: all 0.5s ease-in-out;
          &:hover {
            background: #5c452d !important;
            border-color: #5c452d;
            transition: all 0.5s ease-in-out;
          }
        }
        .footer_login {
          color: #1f0d0b;
          font-family: "Poppins";
          text-align: center;
          margin: 30px 0 0;
          span {
            cursor: pointer;
          }
          a {
            color: #bb9b62;
            &:hover {
              color: #5c452d;
            }
          }
        }
      }
    }
    .outline_wrap{
      width: 25%;
      margin: 0 auto;
      &:focus{
        outline: none;
      }
    }
    .upload_file_wrap{
      background: #e0d7c2;
      width: 100%;
      padding: 5px;
      margin: 20px auto;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      &:focus{
        outline: none !important;
      }
    }
  }
  
  @media screen and (max-width: 1024px) {
    .edit_profile_stylist {
      .section__title {
        width: 90%;
      }
      .tabs_signup {
        .react-tabs {
          width: 90%;
        }
      }
      .edit_wrap {
        .login_form {
          padding: 20px;
          .form-group {
            width: 90%;
            margin: 0;
          }
          .select_type{
            width: 100%;
          }
          .btn_add{
            width: 100%;
          }
        }
      }
    }
  }
  
  
  @media screen and (max-width: 767px) {
    .edit_profile_stylist {
      .section__title {
        width: 100%;
      }
      .tabs_signup {
        .react-tabs {
          width: 100%;
          .react-tabs__tab-list{
            li{
              width: 100%;
            }
          } 
        }
      }
      .edit_wrap {
        .login_form {
          padding: 20px;
          ul{
            li{
              width: 100%;
            }
          }
          .btn_login{
            width: 100%;
          }
          .select_price{
            width: 100%;
          }
          .form-group {
            margin: 0 auto;
          }
          .select_type{
            width: 100%;
          }
          .btn_add{
            width: 100%;
          }
        }
      }
    }
  }
  


  .upload_images_wrap_edit{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow-x: auto;
      overflow-y: hidden;
      img{
        width: 100px;
        object-fit: cover;
        height: 100px;
        margin: 10px;
        border: 1px solid #ccc;
      }
    }
    @media screen and (max-width: 768px){
      .edit_profile_stylist .outline_wrap{
        width: 100%;
      }
      .edit_profile_stylist .edit_wrap .login_form .btn_edit{
        width: 100%;
      }
      .textarea_wrap{
        width: 100% !important;
        padding: 20px !important;
      }
    }
    .textarea_wrap{
      width: 100% !important;
      padding: 25px 50px;
    }
    .textarea_edit_profile{
      font-family: "Poppins";
      border-radius: 20px;
      box-shadow: 0 4px 10px 0 #bbb;
      font-size: 15px;
      padding: 20px;
      transition: all 0.4s ease-in-out;
      min-height: 100px;
      width: 100%;
      border: 0;
      &:focus{
        outline: none;
      }
    }

  .ant-slider-tooltip{
    top: 1183px;
  }
  .edit_profile_stylist .edit_wrap .login_form .form-group .label_form{
    padding: 0;
  }
  .ant-slider{
    margin: 50px 6px 10px;
  }

  @media screen and (max-width:992px){
  .edit_profile_stylist .edit_wrap .login_form{
  width:100%;
  }

  .subscibeModal{
  width:100%;
  }

  .ant-col-8{
  width:50%;
  margin-top:20px;
  }
  }

  @media screen and (max-width:600px){
  .profile_stylist__wrap .form__wrap{
  width:100% !important;
  }

  .ant-col-8{
  width:100%;
  margin-top:20px;
  }
  }