.faq_wrap {
  clear: both;
  padding-top: 50px;
  .section__title {
    text-align: center;
    margin: 70px 0 50px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins Display";
    font-weight: 500;
  }
  p,
  li {
    font-size: 15px;
    margin: 0;
    font-family: "Poppins";
    color: #2f2f2f;
  }
}

.faq_panel {
  .ant-collapse-header {
    font-size: 18px;
    background-color: #ba9b61;
    color: #fff !important;
    .ant-collapse-arrow {
      font-size: 18px !important;
      color: #fff !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .faq_wrap {
    padding-bottom: 50px;
  }
}
