.order__wrapper .ant-badge-multiple-words {
    padding: 5px 8px;
    margin: 15px 0;
}
.order__wrapper .ant-badge-count {
    min-width: 50px;
    height: 30px;
    background: #bb9b62;
    font-weight: 800;
    font-size: 15px;
}
.order__wrapper .ant-badge a{
    margin-left: 90px;
}