.tnc_wrap {
  clear: both;
  padding: 50px;
  .section__title {
    text-align: center;
    margin: 70px 0 50px;
  }
  .termsCondition h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins";
    font-weight: 500;
    color:#5c452d;
    margin-top: 25px;
  }

  .termsCondition ul {
    list-style: none;
    li{
      color:  #2f2f2f;
    }
  }

  h1{
    font-size:25px;
  }
  h2{
    font-size: 25px;
  }
  p,
  li {
    font-size: 15px;
    margin: 0;
    font-family: "Poppins";
  }
  strong{
    color: #bb9b62;
  }
}


@media screen and (max-width:992px){
  .tnc_wrap{
  padding:unset;
  }
}
