@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot');
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.eot');
    src: url('../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins.eot');
    src: url('../fonts/Poppins/Poppins.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins.woff') format('woff'),
        url('../fonts/Poppins/Poppins.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins.svg#Poppins') format('svg');
    font-weight: bold;
    font-style: normal;
}


