.profile_admin__wrap {
  .col-md-8 {
    margin: 0 auto;
  }
  .col-md-9 {
    margin: 0 auto 70px;
    box-shadow: 0 8px 20px 0 #e7e7e7;
    background: #fff;
    padding: 50px 20px;
    border-radius: 10px;
  }
  .section__title {
    text-align: center;
    margin: 70px 0 50px;
    h2 {
      font-size: 30px;
      margin: 0;
      font-family: "Poppins Display";
      font-weight: 500;
    }
    p {
      font-size: 15px;
      margin: 0;
      font-family: "Poppins";
      color: #a2a2a2;
      a {
        color: #5c452d;
        &:hover {
          color: #d8bd93;
          text-decoration: none;
        }
      }
    }
  }
  .form__wrap {
    width: 60%;
    margin: 0 auto;
    .form-group {
      margin-bottom: 40px !important;
      p {
        padding: 0 0 0 20px;
        color: #f00;
        font-size: 12px;
        margin: 0;
      }
      .label_form {
        font-family: "Poppins";
        padding: 0 22px;
        margin: 0;
      }
      .input {
        font-family: "Poppins";
        border-radius: 20px;
        box-shadow: 0 4px 10px 0 #bbb;
        padding: 22px;
        transition: all 0.4s ease-in-out;
        margin-bottom: 0;
        &:focus {
          border-color: #ced4da;
          outline: 0;
          box-shadow: none;
          transition: all 0.4s ease-in-out;
        }
      }
      .textarea {
        min-height: 200px;
      }
    }
    .btn_contact {
      border-radius: 50px;
      padding: 15px 20px 18px;
      width: 100%;
      background: #d8bd93 !important;
      color: #fff !important;
      font-size: 20px;
      line-height: 19px;
      margin: 30px 0 0 0;
      font-family: "Poppins Display";
      transition: all 0.5s ease-in-out;
      &:hover {
        background: #5c452d !important;
        border-color: #5c452d;
        transition: all 0.5s ease-in-out;
      }
    }
    .options_wrap {
      display: flex;
      align-items: center;
      a {
        color: #d8bd93;
        &:hover {
          color: #5c452d;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .contactus__wrap {
    .form__wrap {
      width: 80%;
    }
  }
}

.center_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 150px);
}
.thankyou_forget_password {
  .options_wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      color: #d8bd93;
      &:hover {
        color: #5c452d;
      }
    }
  }
  .section__title_wrapper {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
    width: 60%;
    margin: 0 auto;
    background: #fff;
    h2 {
      font-size: 30px;
      margin: 0;
      font-family: "Poppins Display";
      font-weight: 500;
    }
    p {
      font-size: 15px;
      margin: 0;
      font-family: "Poppins";
      color: #a2a2a2;
      a {
        color: #5c452d;
        &:hover {
          color: #d8bd93;
          text-decoration: none;
        }
      }
    }
  }
  .section__title {
    h2 {
      width: 50%;
      font-family: "Poppins";
      font-size: 20px;
      margin: 0 auto 20px;
    }
  }
}
.wrapper_back_login {
  text-align: center;
  padding: 20px 0;
  a {
    color: #d8bd93;
    &:hover {
      color: #5c452d;
    }
  }
}
